body{
    margin:0;
}

#who-we-are p{
    font-size:18px;
}

ul>li>ul{
    display:none;
}

header{
    display:flex;
    height:90px;
    align-items:center;
    padding-left:30px;
}

header ul {
    display:flex;
    justify-content: space-around;
    align-items:center;
}

header nav {
    width:80%;
}

header img {
    max-width:400px;
    max-height:63px;
}

li{
    list-style: none;
}

a {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
}

main{
    
    max-height:auto;
    
}

#index{
    display:flex;
    align-items:center;
}

.section-map{
    padding:40px;
    display:flex;
    justify-content: space-between;
    height:500px;
}

#map{
    width:50%;
    display:flex;
    justify-content: end;
}

.section-map article{
    width:50%;
}

.blue{
    background-color:#0062ff;
}

#who-we-are{
    flex-direction: column;
    max-height:auto;
    background-color:white;
    align-items:start;
    width:80%;
    margin:auto;
}

#who-we-are section{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-bottom:50px;
    margin-top:50px;
}

#who-we-are .list-article{
    display:flex;
    justify-content: space-between;
}

.article-presentation{
    width:30%;
}

.section-map h1{
    font-size:50px;
}
.logo {
    width:150px;
    margin:20px;
    height:100px;
}

#who-we-are h1, #who-we-are h2{
    color:black;
    font-size:45px;
    font-family: Helvetica;
}

#who-we-are p{
    color:#7D7D7D;
}

header{
    border-bottom:1px solid #7D7D7D;
}

#who-we-are section{
    padding:0;
}

main section button {
    background-color:#e74a34;
    color:white;
    padding: 10px 10px 10px 10px;
    font-size:17px;
    border:none;
    margin-bottom:40px;
}

main section{
    padding-left:70px;
    padding-right:70px;
    box-sizing: border-box;
}

main .index, main .index img{
    width:50%;
}

article img{
    width:250px;
}

article{
    display:flex;
    flex-direction: column;
}

#certif {
    display:flex;
    justify-content: space-between;
}

#certif article {
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

.certif-article
{
    justify-content: space-between;
    width:30%;
}

#certif article p {
    max-width:250px;
    margin-right:10px;
}

#logo-infos{
    display:flex;   
}

h1{
    font-family: 'Poppins',Roboto,sans-serif !important;
    color:white;
    font-size:36px;
}

main p {
    color:white;
    font-size:1.5em;
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif;
}

.info img {
    max-width:50px;
    margin-right:10px;
}

.info {
    display:flex;
    align-items:center;
}

.info a {
    font-weight:bold;
    color:white;
    text-decoration:none;
}

header a{
    text-decoration:none;
    color:rgb(0 0 0 / .6);
    font-weight:bold;
}

footer {
    display:flex;
    background-color:#333333;
    justify-content:space-around;
    align-items:start;
    padding-top:50px;
    padding-bottom:50px;
}

#reseau{
    display:flex;
    margin-top:40px;
    margin-bottom:40px;
}

#reseau li {
    background-color:white;
    margin-right:10px;
    height:30px;
    width:30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#reseau li a i {
    color:black;
}

.button-rejoindre{
    background-color:white;
    color:black;
    padding-right:40px;
    padding-left:40px;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;
    display:block;
}

.button-brochure{
    background-color:#E74A34;
    color:white;
    padding-right:40px;
    padding-left:40px;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;
    display:block;
}

.header-title {
    color:white;
    font-size:18px;
    font-weight:bold;
}

p, a{
    font-family: 'Roboto Regular',Helvetica,Arial,Lucida,sans-serif; 
    line-height:1.7em;   
    color:#7D7D7D;
}

.header-ul{
    margin:0;
    padding:0;
}

.header-ul li {
    margin-bottom:20px;
}

.header-ul li a {
    color:white;
    text-decoration:none;
}

#contact p {
    color:white;
}

#bloc-reseau{
    margin-top:50px;
}

.article-qui-nous-sommes{
    width:45%;
}

.article-qui-nous-sommes a {
    font-weight:bold;
    text-decoration:none;
    font-size:17px; 
}

#article article{
    display:flex;
    flex-direction: row;
    align-items:center;
}

#article{
    margin-top:30px;
    margin-bottom:30px;
}

#article article p {
    color:black;
    font-size:18px;
}

#article article{
    justify-content: space-between;
}

.content-article{
    max-width:50%;
}

.reserver {
    display:flex;
    flex-direction:column;
}

.reserver :nth-child(1)
{
    color:white;
    font-weight:white;
    padding:10px;
    background-color:#E74A34;
    text-decoration:none;
    margin-bottom:20px;
}

.reserver :nth-child(2){
    border:1px solid black;
    padding:10px;
    text-align:center;
    text-decoration:none;
}

@media screen and (max-width: 800px) {
  ul, main, footer, header{
    flex-direction:column;
  }

  section{
    padding:10px;
  }

  header{
    height:auto;
    padding-left:0;
  }

  main section{
    width:auto;
    align-items:center;
    padding:20px;
    display:flex;
    flex-direction:column;
  }

  main{
    max-height:inherit;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  main h1, p{
    text-align:center;
  }

  footer{
    justify-content: center;
    align-items:center;
  }

  #reseau{
    display:flex;
    flex-direction: row;
  }

  footer ul li{
    text-align:center;
  }

  main img {
    width:100%;
  }


}